.page-dashboard {
  display: flex;
  min-height: 100vh;
  overflow: hidden; /* منع السكرول على الصفحة الرئيسية */
}

.sidebar {
  position: fixed; /* تغيير من relative إلى fixed */
  width: 250px;
  height: 100vh; /* جعل الـ sidebar بارتفاع كامل الشاشة */
  padding: 20px;
  box-shadow: 0px 0px 10px #ddd;
  background: white; /* إضافة خلفية بيضاء */
  z-index: 100; /* التأكد أن الـ sidebar فوق المحتوى */
  overflow-y: auto; /* إضافة سكرول للـ sidebar إذا كان المحتوى طويل */
}

.sidebar .Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* background: linear-gradient(to right, #22d3ee, #2b7fff);
  box-shadow:
    0 4px 10px #22d3ee55,
    0 6px 20px #2b7fff55; */
}

.sidebar .Logo img {
  width: 120px;
}

.sidebar ul li {
  list-style: none;
  position: relative;
}

.sidebar ul li::after {
  content: "";
}

.sidebar ul li a {
  color: black;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  gap: 15px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.sidebar ul li a:hover {
  background: linear-gradient(to bottom, #22d3ee, #2b7fff);
  color: white;
}
/* ستايل الرابط النشط */
.sidebar ul li a.active-link {
  background: linear-gradient(to bottom, #22d3ee, #2b7fff);
  color: white;
}

.sidebar ul li svg {
  font-size: 18px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* تنسيق المحتوى الرئيسي */
.page-dashboard .content-dashboard {
  margin-left: 250px; /* نفس عرض الـ sidebar */
  width: calc(100% - 250px);
  min-height: 100vh;
  position: relative;
  overflow-y: auto; /* سكرول للمحتوى فقط */
  height: 100vh; /* جعل المحتوى بارتفاع كامل الشاشة */
}

/* تنسيق شريط السكرول للمحتوى */
.page-dashboard .content-dashboard::-webkit-scrollbar {
  width: 10px;
}

.page-dashboard .content-dashboard::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.page-dashboard .content-dashboard::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #22d3ee, #2b7fff);
  border-radius: 5px;
}

.page-dashboard .content-dashboard::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #1ba0b8, #1f5fcc);
}

/* للشاشات الصغيرة */
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }

  .page-dashboard .content-dashboard {
    margin-left: 58px;
    width: calc(100% - 58px);
  }

  .sidebar ul {
    margin: 20px auto;
    text-align: center;
  }

  .sidebar ul li a span {
    display: none;
  }

  .sidebar .Logo img {
    width: 38px;
  }
}
